.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align:center;
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul.tree-branch {
  padding-left:0;
  list-style: none;
}
.branch-toggle span, .leaf span {
  margin-right:5px;
  text-decoration:none;
  color: black;
}
.branch-toggle:hover span, .leaf:hover span {
  margin-right:5px;
  text-decoration:none;
  color: black;
}

.example-enter {
  overflow:hidden;
  max-height:0;
}

.example-enter.example-enter-active {
  max-height:20px;
  -webkit-transition:max-height 500ms ease;
  -moz-transition:max-height 500ms ease;
  -o-transition:max-height 500ms ease;
  transition:max-height 500ms ease;
}

.example-leave {
  max-height:20;
  opacity: 1;
}

.example-leave.example-leave-active {
  max-height:0;
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}