.ad-selected-node {
  background: linear-gradient(to bottom,#beebff 0,#a8e4ff 100%);
}
.tree-branch {
  overflow:hidden;
}

ul.tree-branch, ul.tree-root {
  padding-left:0;
  list-style: none;
}
.branch-toggle, .leaf {
  margin-right:5px;
  text-decoration:none;
  color: black;
}
.branch-toggle:hover, .leaf:hover {
  margin-right:5px;
  text-decoration:none;
  color: black;
}
.tree-branch input[type="checkbox"] {
  margin-right: 4px;
  vertical-align: sub;
}
ul.tree-root {
  font-family: "Titillium Web", sans-serif, Arial, sans-serif;
  font-size: 14px;
}
.tree-node-hovered {
  background: #76b6ec;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #76b6ec;
}