.ad-selected-node {
  background: linear-gradient(to bottom,#beebff 0,#a8e4ff 100%);
}
.tree-branch {
  overflow:hidden;
}

ul.tree-branch, ul.tree-root {
  padding-left:0;
  list-style: none;
}
.branch-toggle, .leaf {
  margin-right:5px;
  text-decoration:none;
  color: black;
}
.branch-toggle:hover, .leaf:hover {
  margin-right:5px;
  text-decoration:none;
  color: black;
}
